@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F5F5;
}

h1 {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-family: 'Inter', sans-serif;
}

span {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #ddbbba;
    height: 80px;
    width: 100%;
}

article {
    display: flex;
}

main {
    width: 100%;
}

.navPadrao {
    background-color: #FFFFFF;
    width: 25%;
    height:931px;
}

#listaMenu02 {
    background-color: #E6C2BF;
    box-shadow: 0px 4px 20px #FFDBD8;
}

#listaMenu02 li {
    justify-content: flex-start;
    padding: 8px 0px;
    margin: auto 16px;
}

#listaMenu02 span {
    margin: auto 18px;
    font-weight: bolder;
    color: #FFF;
}

ul {
    margin: 10px 18px;
    border-radius: 20px;
    width: 205px;
}

ul span {
    color: #85828295;
    margin: auto 20px;
}

ul a {
    text-decoration: none;
}

#text {
    text-decoration: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    padding: 8px 0px;
    MARGIN: 0 auto;
}

.meusPedidosPerfil section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0px 8%;
}

.meusPedidosPerfil img {
    padding: 30px;
    margin: 0px 0 auto;
}

.meusPedidosPerfil {
    display: flex;
    background-color: #FFFFFF;
    margin: 52px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

section h1 {
    font-size: 3rem;
}

section h3 {
    font-size: 1.5rem;
    color: #85828295;
    margin-bottom: 35px;
}

.meusPedidosRecentes h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25vw;
    margin: 0px 0 0 65px;
}

#sacolaPedidos {
    margin-right: 20px;
}

.meusPedidosRecentes span {
    font-size: xx-large;
    color: #484741;
}

.meusPedidosRecentes section {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 91%;
    height: 50vh;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

article .navPadrao div {
    width: 235px;
    height: 667px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
}

#listaMenu03 img {
    margin: auto 10px;
}

#meusPedidos {
    display: block;
}

.pedidosUsuario h1 {
    display: flex;
    align-items: center;
    margin: 54px 0px 24px 170px;
}

.pedidosUsuario section {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 78%;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

#listaMenu01 img {
    margin-right: 15px;
}

.itemInfoClass {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #D4D4D4;
}

.itemInfoClass img {
    max-width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 15px;
}

#itemPagDiv p {
    margin-left: 15px;
    font-family: 'Inter', sans-serif;
}

#itemPagDiv h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    text-align: right;
    margin-right: 28px;
    margin-bottom: 35px;
    color: #484741;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

#itemInfoDiv {
    border-right: 1px solid #D4D4D4;
    padding-right: 32px;
}

#itemInfoDiv h3 {
    margin-top: 25px;
    margin-left: 37px;
    color: #484741;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#itemInfoDiv p {
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
}

#itemPagDiv p{
    margin: 0 15px 15px;
}

#itemInfoDiv p:last-child {
    margin-top: 44px;
    margin-bottom: 44px;
    color: #A7A7A7;
}

@media (min-width:375px) and (max-width:767px) {
    section h3 {
        font-size: 1rem;
        text-align: center;
    }
    section h1 {
        font-size: 1.6rem;
        text-align: center;
    }
    .meusPedidosPerfil img {
        padding: 35px 35px 0px 35px;
        margin: 0 auto;
        max-width: 40vw;
    }
    .meusPedidosPerfil section {
        margin: auto;
    }
    .meusPedidosPerfil {
        margin: 34px;
        display: flex;
        flex-direction: column;
        height: 350px;
    }
    .navPadrao span {
        display: none;
    }
    .navPadrao ul {
        margin: 6px;
        width: 52px;
    }
    .navPadrao li {
        width: 40px;
    }
    #listaMenu02 {
        width: 54px;
    }
    #listaMenu02 li {
        margin: auto 10px;
    }
    article .navPadrao div {
        margin: 60px auto;
        width: 70px;
        align-items: center;
    }
    ul {
        border-radius: 100%;
    }
/* 
    #listaMenu02 li{
        justify-content:center;
        margin: 0 auto;
    } */
}

@media (min-width:655px) and (max-width:767px) {
    .meusPedidosPerfil {
        margin: 22px;
    }
    section h1 {
        font-size: 2rem;
    }
    section h3 {
        font-size: 0.8rem;
    }
    .navPadrao span {
        display: none;
    }
    .navPadrao ul {
        margin: 6px;
        width: 60px;
    }
    .navPadrao li {
        width: 57px;
    }
    #listaMenu01 {
        width: 58px;
    }
    #listaMenu01 li {
        margin: auto 10px;
    }
    article .navPadrao div {
        margin: 60px auto;
        width: 70px;
    }
    ul {
        border-radius: 100%;
    }
}

@media (min-width: 770px) and (max-width: 900px) {
    section h1 {
        font-size: 2rem;
    }
    section h3 {
        font-size: 1rem;
    }
    .meusPedidosPerfil section {
        margin: 0 auto 0px 0%;
    }
    .meusPedidosRecentes section {
        width: 92%;
    }
    .meusPedidosPerfil {
        margin: 26px;
    }
    .meusPedidosRecentes h1 {
        width: 40vw;
    }
    .navPadrao {
        width: 33%;
    }
}

@media screen and (min-width: 836px) {
    .itemPagDiv {
        order: 2;
    }
    .itemFoto {
        order: 1;
    }
    .itemInfoDiv {
        order: 3;
    }
}

@media (min-width:901px) and (max-width:1025px) {
    .navPadrao {
        width: 25%;
    }
    section h1 {
        font-size: 2.8rem;
    }
    section h3 {
        font-size: 1.2rem;
    }
    .meusPedidosPerfil section {
        margin: 0px auto 0px 4%;
    }
}

@media (min-width:768px) and (max-width:769px) {
    .meusPedidosPerfil section {
        margin: 0 auto 0px -1%;
    }
    section h1 {
        font-size: 1.6rem;
    }
    section h3 {
        font-size: 1rem;
    }
    .meusPedidosPerfil img {
        padding: 20px
    }
    .navPadrao {
        width: 29%;
    }
    .meusPedidosPerfil {
        margin: 25px;
    }
    article .navPadrao div {
        width: 222px;
    }
    .meusPedidosRecentes h1 {
        width: 40vw;
    }
}

@media (min-width:1400px) and (max-width: 1700px) {
    #listaMenu02 {
        background-color: #E6C2BF;
        max-width: 30vw;
        min-width: 17.5vw;
    }
    ul {
        width: 15vw;
    }
}

@media screen and (max-width:1000px){
    .pedidosUsuario section{
        overflow: scroll;
    }

     #itemInfoDiv p{
        margin-left: 15px;
        text-align: center;
    }

    #itemInfoDiv h3{
        text-align: center;
    }

    
}

@media (max-width:480px){
    .navPadrao{
        display: none;
    }
}

@media (min-width:836px) and (max-width:1000px) {
    .itemInfoClass{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }

    #itemInfoDiv{
        grid-column-start: 1;
        grid-column-end: 3;
    
    }

    .itemFoto{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    #itemPagDiv{
        grid-column-start: 3;
        grid-column-end: 2;
        grid-row-start: 1;
        width: 30vw;
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    #itemPagDiv h2{
        margin-right: 5px;
    }

    #itemPagDiv p{
        margin-left: 0px;
        text-align: end;

    }

    .pedidosUsuario section{
        width: 80%; 
        
    }
}

@media screen and (max-width:835px) {
    .itemInfoClass{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }

    #itemInfoDiv{
        grid-column-start: 1;
        grid-column-end: 3;
    
    }

    .itemFoto{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    #itemPagDiv{
        grid-column-start: 3;
        grid-column-end: 2;
        grid-row-start: 1;
        width: 30vw;
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    #itemPagDiv h2{
        margin-right: 5px;
    }

    #itemPagDiv p{
        margin-left: 0px;
        text-align: end;

    }

    .pedidosUsuario section{
        width: 80%; 
    }
}

@media screen and (max-width:767px) {
    #itemPagDiv h2{
        margin-right: 0px;
        text-align: start;
    }

    #itemPagDiv p{
        text-align: start;
    }
}

@media screen and (max-width:655px){
    .pedidosUsuario section{
        width: 90%;
    }

    #itemPagDiv p{
        font-size: 13px;
    }

    .pedidosUsuario h1{
        margin: 43px 0px;
        justify-content: center;
    }
}

@media (min-width:770px) {
    li{
        justify-content: flex-start;
        padding: 8px 0px;
        margin: auto 16px;
    }
}

@media (min-width:1000px){
    #itemInfoDiv{
        display: flex;
        align-items: center;
    }

    .itemInfoClass img{
        margin-left: 15px;
    }

    #itemInfoDiv h3{
        margin-left:15px;
    }

    .pedidosUsuario h1{
        margin: auto;
        width: 77%;    
        margin-top: 30px;
    }

}

@media (max-width:790px) {
    .itemInfoClass img{
        margin-left: 10px;
    }
}

@media (max-width:380px) {
    #itemInfoDiv{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }

    .itemFoto{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        display: flex;
        margin: auto;
    }

    #itemPagDiv{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        width: 62vw;
        align-items: center;
    }

    #itemInfoDiv p:last-child{
        margin-bottom: 0px;
    }
}
    @media (min-width: 1400px) and (max-width: 1700px) {

        #listaMenu02{
            background-color: #E6C2BF;
            max-width: 30vw;
            min-width: 17.5vw;  
        }
        
    }
    
    @media screen and (max-width: 1325px){
        .pedidosUsuario section{
            width: 88%;
        }

    }
