*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*IMPORTANDO AS FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.adm-perfil{
    display: flex;
    background-color: #F5F5F5;
}

/*BARRA VERTICAL*/
.barra-vertical{
    width: 120px;
    height: 101vh;
    background-color: #E6C2BF;
}

/*AREA DE CONTEUDO DA PAGINA*/
.usuario-conteudo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 9%;
    margin-top: 10%;
}

.conteudo-area{
    margin: 0 auto;
}

/*TITULO DA PAGINA*/
.usuarios-adm{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 44px;
}

.usuarios-adm img{
    margin-right: 18px;
}

.img-adicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6C1BE;
    height: 60px;
    width: 60px;
    box-shadow: 4px 4px 20px 4px #FFDBD8;
    border-radius: 50px;
    position: absolute;
    margin-left: 848px;
}

.img-adicionar:hover{
    opacity: 0.8;
}

.scroll{
    overflow: auto;
    box-shadow: 4px 4px 15px 0px #00000040;
    border-radius: 20px;
}

/*TABELA DE USUÁRIOS*/
.usuario-tabela{
    width: 1016.59px;
    height: 200px;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: 5;
    border-radius: 19px;
}

/*ITENS DA TABELA*/
.header-tabela{
    width: 100%;
    background-color: #E6C2BF;
    height: 45px;
    transform: rotate(180deg);
}

.submenu-tabela{
    width: 100%;
    background-color: #E6C2BF;
    height: 64px;
    border-radius: 19px;
}

table{
    width: 100%;
}

.lista-header{
    display: grid;
    justify-content: space-around;
    list-style: none;
    background: #E6C2BF;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px; 
    grid-template-rows: 100%;
    grid-template-columns: 10% 15% 16.5% 16.5% 10.5% 10.5% 10.5% 10.5%;
}

.lista-header tr{
    display: flex;
}

.texto-lista{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 22px;
}

.conteudo-lista-header{
    display: grid;
    border-bottom: 1px solid #D5D5D5;
    border-radius: 5px;
    justify-content: space-around;
    grid-template-rows: 100%;
    grid-template-columns: 10% 15% 16.5% 16.5% 10.5% 10.5% 10.5% 10.5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.conteudo-lista{
    display: flex;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.botao-adicionar:hover{
    opacity: 0.8;
}

.botao-remover:hover{
    opacity: 0.8;
}

/*MODAL*/
.modal-content{
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: unset;
}

.header-modal{
    background-color: #E6C2BF;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.img-logo-modal{
    position: absolute;
    right: 47%;
}

.corpo-modal{
    display: flex;
    flex-direction: column;
    padding: unset;
    padding-top: 60px;
}

.form-modal-label{
    align-self: flex-start;
    margin-left: 13%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.modal-header .close{
    margin: auto -1rem auto auto;
}

.form-modal-input{
    width: 400px;
    height: 60px;
    border: 0.5px solid #A7A7A7;
    background-color: #F6F8FA;
    border-radius: 20px;
    padding: 18px 30px 18px 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

#poder{
    background-image: url('../img/img_seta.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    -webkit-appearance: none !important;
    appearance: none !important;
}

#form-modal-botao{
    color: #FFF;
    background-color: #E6C1BE;
    margin-bottom: 50px;
    border-radius: 20px;
    border: none;
    padding: 12px 28px 12px 28px;
    width: 129px;
    height: 60px;
    align-self: flex-end;
    margin-right: 11%;
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

#form-modal-botao:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 4px 4px 16px 4px #FFDBD8;
}

.container-form-input{
    margin-left: 13%;
}

.container-form-input label, .container-form-input input[type=radio], #form-modal-botao{
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

#radio-active{
    margin-left: 60px;
}

input[type=radio]{
    margin-right: 20px;
}

#botao-alterar-form{
    border: none;
}



/*RESPONSIVDADE*/

@media screen and (max-width: 1400px) {
    .conteudo-area{
        max-width: 83%;
    }

    .usuario-conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-adicionar{
        right: unset;
        position: unset;
        margin-left: 18px;
    }

    .usuarios-adm{
        font-size: calc(3vw + 5px);
    }

    .usuario-tabela{
        width: 1016.59px;
    }

}

@media screen and (max-width: 870px){
    .img-adicionar img{
        width: 15px;
    }

    .img-adicionar{
        width: 30px;
        height: 30px;
    }

}

@media screen and (max-width: 470px){
    .adm-perfil{
        display: flex;
        justify-content: center;
    }

    .barra-vertical{
        display: none;
    }
}

@media screen and (max-width: 320px){
    .usuario-conteudo{
        flex-direction: column;
    }

    .usuarios-adm{
        font-size: calc(3vw + 3px);
    }
}