    @font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-VariableFont_wght.ttf');
}

/* MENU */

header{
    background-color: #e6c2bf;  
   
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.nav-item{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFF;
}

#botao-inicio{
    color: #FFF;
    text-decoration: none;
}

.nav-item:hover{
    color: #FFF;
    text-decoration: none;
}

.nav-bar .btn{  
    background-color: transparent;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
    
}

.menu-inicio:before{
    content: "";
    position: absolute;
    width: 40% !important;
    height: 3px;
    bottom: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu-inicio:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-item button:before {
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    bottom: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-item button:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.nav-item .dropdown .btn, .nav-item button{
   margin-right: 65px;
}

.logo{
    display: flex;
    align-items: center;
    width: 250px;
    min-width:200px;
    max-width: 300px;

}

.botao-pesquisar form{
    display: flex;
    align-items: center;
}

.area-pesquisar{
    position: relative;
    cursor: pointer;
    z-index: 10;
    left: -48px;
}

.form-control{
    width: 20vw !important;
    height: calc(2.5rem + 2px) !important;
    border-radius: 20px !important;
}

.form-input::placeholder{
    color: #A7A7A7;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#form-pesquisa input{
    padding: 20px;
}

.nav-list{
    display: flex;
    align-items: center;
    
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.icons {
    display: flex;
    align-items:center;
}

.icon{
    max-width: 30px;
    min-width: 30px;
}

#img-profile-user, #img-shopping-bag{
margin-right: 3rem;
cursor: pointer;
}

.icons i.fa{
    width: 100px;
}

.icons a{
    text-decoration: none;
    color: black;

}

.mobile-menu{
    display: none;
}

.mobile-menu-icon{
    display: none;
    margin-top: 7px;
}

.mobile-menu-icon .icon{
    min-width:30px;
}

/* MENU FIM */

/* responsividade avaliacao compra/cookies */
@media (max-width: 992px) {
    .cookies{
        width: 100%;
    }
}

    /* fim responsividade avaliacao compra/cookies */
    @media screen and (max-width:540px){
        .nav-bar{
            display: block;
        }
    
        .logo{
            display: flex;
            align-items: center;
            width: 280px;
            margin: 0 auto;
            min-width:200px;
            max-width: 300px;
        
        }
    
        .icons {
            display: flex;
            align-items:center;
            justify-content: center;
            padding: 0rem 4rem;
        }
    
        .mobile-menu .nav-item #btn-home{
            margin-left: 14px;
            color: black;
        }
    
        .mobile-menu .nav-item #btn-home a{
            color: black;
        }
    
        #product1 .pro{
            width: 20%;
            min-width: 250px;
            padding: 10px 12px;
            border: 0px solid #e6c2bf;
            border-radius: 2%;
            cursor: pointer;
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0, 0.02);
            margin: 15px 0;
            transition: 0.2s ease;
            position: relative;
            border: 1px solid #e6c2bf;
            
        }
        html{
            min-width: fit-content;
        }
        
    }
/*
 @media screen and (max-width: 345px){

} 
*/

@media screen and (max-width: 575px){
    .pro-container .col-8{
        margin: 0 auto;
    }
}



@media screen and (max-width:1008px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }

    .nav-item .btn-home:before {
        content: none;
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: red;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
    
      .nav-item .btn-home:hover:before {
        visibility:hidden;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    
    .nav-item .btn:before {
        content: none;
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
    
    .nav-item .btn:hover:before {
        visibility:hidden;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }

   .mobile-menu .icons{
    max-width: 0.5px;
   }

    .btn:not(:disabled):not(.disabled){
        background-color: transparent;
    }

    .nav-item{
        display: none;

    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
        margin: 0px auto;
        width: 114px;
    } 

    .mobile-menu .nav-item #btn-home{
        margin-left: 14px;
        color: black;
    }

    .mobile-menu .nav-item #btn-home a{
        color: black;
    }

    .open{
        display: block;
    }
}

@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }

    .products .container{
        max-width: 1198px;
    }

    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}
