/*Footer*/
#footer{
    background-color: #E6C2BF;
}

.container-footer{
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 25px;
}

img{
	display: inline-block;
}
.identificacao-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-logo{
    margin-top: 5px;
    max-width: 80%;
    height: auto;
}

.icones-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.img-google, .img-facebook{
    margin-right: 15px;
}

.img-google, .img-facebook, .img-instagram{
    max-width: 25%;
    height: auto;
}

.informacao-area h1{
    font-size: 16px;
    font-weight: bold;
    color: #403533;
    margin-bottom: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
}

.informacao-area{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.texto-contato, .texto-sobre, .texto-conta{
    margin-bottom: 14px;
    font-size: 14px;
}

.texto-formas-pagamento{
    font-size: 14px;
}


.first-child{
    width: 75%;
}

.img-visa, .img-mastercard{
    margin-right: 12%;
}

.img-visa, .img-mastercard, .img-pix{
    max-width: 22.394%;
    height: auto;
}

.direitos-reservados{
    border-top: 1px solid #FFD8D8;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
}

.texto-direitos{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
	margin-bottom: 0;
}




/*Responsividade Footer*/

/*PARA DESKTOPS MENORES E TABLETS*/

@media screen and (max-width: 1340px){
    .texto-contato, .texto-sobre, .texto-conta, .texto-formas-pagamento{
        font-size: 1.05vw;
    }

    .informacao-area h1{
        font-size: 1.2vw;
    }
    
    .direitos-reservados{
        font-size: 1.05vw;
    }
}

/*PARA CELULARES*/
@media screen and (max-width: 809px){
    .container-footer{
        grid-template-columns: unset;
        grid-template-rows: auto;
    }

    .img-logo{
        max-width: 25%;
    }

    .img-google, .img-facebook, .img-instagram{
        max-width: 23%;
    }

    .icones-area{
        margin-bottom: 40px;
    }

    .informacao-area{
        grid-template-columns: auto;
        grid-row-start: 2;
        margin: 0 auto;
        grid-column-gap: 10%;
    }

    .first-child{
        width: 100%;
    }

    .informacao-area h1{
        font-size: 1.535vw;
    }

    .texto-contato, .texto-sobre, .texto-conta, .texto-formas-pagamento{
        font-size: 1.39vw;
    }

    .contato{
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .sobre{
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .minha-conta{
        grid-column-start: 3;
        grid-column-end: 3;
    }

    .formas-pagamento{
        grid-column-start: 4;
        grid-column-end: 4;
    }

}


/*ARRUMANDO O TAMANHO DA FONTE*/
@media screen and (max-width: 650px) {
    .texto-contato, .texto-sobre, .texto-conta, .texto-formas-pagamento{
        font-size: 1.7vw;
    }

    .informacao-area{
        grid-column-gap: 7.3%;
    }

    .informacao-area h1{
        font-size: 1.94vw;
    }
}

@media screen and (max-width: 535px){
    .informacao-area{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: unset;
    }

    .first-child{
        text-align: center;
    }

    .informacao-area h1{
        font-size: 3vw;
    }

    .texto-contato, .texto-sobre, .texto-conta, .texto-formas-pagamento {
        font-size: 2.5vw;
    }

    .contato{
        grid-column-start: 1;
        grid-column-end: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }

    .sobre{
        grid-column-start: 2;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .minha-conta{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: unset;
        grid-column-end: unset;
    }

    .formas-pagamento{
        display: flex;
        justify-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: unset;
        grid-column-end: unset;
    }
}

/*PARA CELULARES MENORES*/
@media screen and (max-width: 438px){
    .img-visa, .img-mastercard, .img-pix{
        margin-right: 6%;
    }
}

@media screen and (max-width: 450px){
    .texto-contato, .texto-sobre, .texto-conta, .texto-formas-pagamento{
        font-size: 2.8vw;
    }
    .informacao-area h1{
        font-size: 3.3vw;
    }
}


@media screen and (max-width: 420px){
    .texto-contato, .texto-sobre, .texto-conta, .texto-formas-pagamento{
        font-size: 1.7vh;
    }

    .informacao-area h1{
        font-size: 2vh;
    }
}

